{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Cool site</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>

    <body>
        <script>
            function search() {
                let item_search = document.getElementById("search");

                let xhttp = new XMLHttpRequest();    
                xhttp.onload = function() {
                    item_objects = JSON.parse(this.responseText);

                    let item_text = document.getElementById("item");
                    item_text.innerHTML = "";

                    for(let i =0; i < item_objects.length; i++) {
                        item_text.innerHTML += "<h2>" + item_objects[i].name  + "</h2>" + "  "  +  "<p>" + item_objects[i].price +"</p>";
                        item_text.innerHTML += "<br>"

                    }
            

                }
                xhttp.open("GET", "/items/search?name="+ item_search.value, false);
 
                xhttp.send();

            }
        </script>
        

        <h1>Hello, world!</h1>
		
    		<div id="container">
                <input type="text" placeholder="search item" id="search">
                <button onclick="search();"><img src= "{% static 'search.png' %}" width="16" height="16"></button>
                <br>
                <input type="checkbox" placeholder="item price" id="box">
                
    		</div>

    		<div id="item" ></div>
        <script src="{% static 'home_page.js' %}"></script>

    </body>

</html>
